@media (max-width: 1250px) {
  .link {
    flex-direction: column;
    gap: 20px;
    margin-left: 10px;
  }
  .fs-3 {
    font-size: 1.1rem !important;
  }
  .px-4 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .content_projects {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media (max-width: 1100px) {
  .about {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    margin: 65px;
    text-align: center;
  }
  .about img {
    width: 40%;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .left_side {
    width: 80%;
    border-right: none;
    padding: 0 30px 0 30px;
  }
  .education_item_one,
  .education_item_second {
    text-align: left;
  }
}

@media (max-width: 850px) {
  .left_side {
    width: 600px;
    border-right: none;
  }
  .item_contact {
    padding: 12px 14px;
  }
}

@media (max-width: 600px) {
  .about img {
    width: 45%;
  }
  .education_item_one,
  .education_item_second,
  .languages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about_me h1 {
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .link p {
    width: 222px;
    margin: 0 auto;
    padding: 6px 15px;
  }
  .about_me h3 {
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .progress {
    width: 50%;
  }
  .knowledge_list {
    margin-top: 30px;
  }

  .profile_section,
  .education_item_one h3 {
    margin-top: 1.2rem;
    margin-bottom: 0rem;
  }
  .profile_section p {
    width: 88%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
  }
  .year {
    width: 180px;
    margin-top: 1rem;
  }
  .profile_contact {
    width: 65%;
    margin: 0 auto;
  }
  .item_contact img {
    width: 30px;
    height: 30px;
    margin-right: 0px;
  }
  .item_contact {
    padding: 5px 10px;
    margin-bottom: 15px;
  }
  .progress,
  .progress-stacked {
    margin-bottom: 0.5rem;
  }
  .right_side h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .feature {
    margin-bottom: 1rem;
  }
  .feature-icon img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 480px) {
  .about img {
    width: 50%;
  }
  .about {
    gap: 20px;
    margin: 45px;
  }
  .profile_section p {
    width: 68%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .profile_contact {
    width: 53%;
  }
  .feature-icon img {
    width: 100px;
    height: 100px;
  }
  .knowledge_list img {
    width: 50px;
    height: 50px;
  }
  .feature-icon img {
    width: 100px;
    height: 100px;
  }
  .feature {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
.content_projects {
  gap: 0.2rem;
}
.feature {
  margin-bottom: 0.5rem;
}
}

@media (max-width: 380px) {
  .about img {
    width: 65%;
  }
  .profile_section p {
    width: 50%;
  }
  .profile_contact {
    width: 43%;
  }
  .item_contact img {
    width: 20px;
    height: 20px;
  }
  .knowledge_list {
    margin: 0 auto;
  }
  .feature-icon img {
    width: 80px;
    height: 80px;
  }
  .px-4 {
    padding: 0rem !important;
    background-color: transparent;
}
.knowledge_list {
  margin-top: 30px;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 10px;
  padding: 0px;
}

}

@media (max-width: 320px) {
  .about img {
    width: 75%;
  }
  .profile_contact {
    width: 38%;
  }
  .feature-icon img {
    width: 50px;
    height: 50px;
  }
  button a span {
    display: none;
  }
  svg {
    width: 17px;
    height: 17px;
   }
   .right_side h3 {
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}
}
